
@{
    ViewBag.Title = "Trip List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label>Vehicle No.</label>
                @Html.DropDownList("vehicle_id", ViewBag.vehicle_id as List<SelectListItem>, "Please Select", new { @class = "form-control", required = "required" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Client Name</label>
                @Html.DropDownList("client_id", ViewBag.client_id as List<SelectListItem>, "Please Select", new { @class = "form-control", onchange = "GetTripByclientmaterial()", required = "required" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Trip Date From</label>
                <input type="datetime" id="trip_date_from" name="trip_date" class="form-control" placeholder="Trip Date" value="@System.DateTime.Today.ToString("dd-MMM-yyy")" required="required">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Trip Date To</label>
                <input type="datetime" id="trip_date_to" name="trip_date" class="form-control" placeholder="Trip Date" value="@System.DateTime.Today.ToString("dd-MMM-yyy")" required="required">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <button type="button" onclick="BindDataTable()" id="postBtn" class="btn" style="margin-top: 25px;">Search</button>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <button type="button" onclick="window.location.href='/Trip/Index'" id="" class="btn" style="margin-top: 25px; background-color: #161717; color:white">Add Trip</button>
            </div>
        </div>
    </div>
</div>
<table id="example" class="table table-hover table-striped table-bordered" width="100%">
    <thead class="thHead">
        <tr>
            <th>Trip Date</th>
            <th>Vehicle No.</th>
            <th>Client Name</th>
            <th>Material</th>
            <th>From-To</th>
            <th>Contract Rate(/Ton)</th>
            <th>Weight</th>
            <th>Diesel</th>
            <th>Rokad</th>
            <th>Builty</th>
            <th>Other</th>
            <th>Is&nbsp;Active</th>
            <th>Action</th>
        </tr>
    </thead>
</table>
<script>
    function BindDataTable() {
            var table = $('#example').DataTable();
            table.destroy();
            $('#example').DataTable({
                dom: 'Bfrtip',
                pageLength: 100,
                language: {
                    search: "",
                    searchPlaceholder: "Search"
                },
                buttons: [
                    {
                        extend: 'copyHtml5',
                        className: 'dtbutton-copy',
                        text: '<i class="fa fa-files-o"></i>',
                        titleAttr: 'Copy',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        className: 'dtbutton-excel',
                        text: '<i class="fa fa-file-excel-o"></i>',
                        titleAttr: 'Excel',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'csvHtml5',
                        className: 'dtbutton-csv',
                        text: '<i class="fa fa-file-text-o"></i>',
                        titleAttr: 'CSV',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        className: 'dtbutton-pdf',
                        text: '<i class="fa fa-file-pdf-o"></i>',
                        titleAttr: 'PDF',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'print',
                        className: 'dtbutton-print',
                        text: '<i class="fa fa-print"></i>',
                        titleAttr: 'Print',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'colvis',
                        text:'Hide Column',
                        columnText: function (dt, idx, title) {
                            return (idx + 1) + ': ' + title;
                        }
                    },
                    {
                        extend: 'colvisRestore',
                        text: 'Show Column'
                    },
                    
                ],
                "ajax": {
                    type: "POST",
                    url: '@Url.Action("GetTripList", "Trip")',
                    datatype: "json",
                    data: { vehicle_id: $('#vehicle_id').val(), trip_date_from: $('#trip_date_from').val(), trip_date_to: $('#trip_date_to').val(), client_id: $('#client_id').val() },
                    dataSrc: ""
                },
                "sScrollX": "100%",
                "sScrollY": "333px",
                columns: [
                    { data: "trip_date", name: "trip_date", autoWidth: true },
                    { data: "rego_no", name: "rego_no", autoWidth: true },
                    { data: "client_name", name: "client_name", autoWidth: true },
                    { data: "contract_material_name", name: "contract_material_name", autoWidth: true },
                    { data: "tripfrom_to", name: "tripfrom_to", autoWidth: true },
                    { data: "client_contract_rate", name: "client_contract_rate", autoWidth: true },
                    { data: "material_weight", name: "material_weight", autoWidth: true },
                    { data: "diesel_exp", name: "diesel_exp", autoWidth: true },
                    { data: "rokad", name: "rokad", autoWidth: true },
                    { data: "bitti", name: "bitti", autoWidth: true },
                    { data: "other_exp", name: "other_exp", autoWidth: true },
                    {
                        data: "is_active",
                        "render": function (value) {
                            return value ? "<span class='label label-success'>Yes</span>" : "<span class='label label-danger'>No</span>"
                        }
                    },
                    {
                        data: "trip_id", "bSortable": false,
                        "render": function (data, type, row) {
                            return "<div class='action-btn '><a style='cursor:pointer' title='Edit' onclick='editTrip(" + row.trip_id + ")' > <i class='fa fa-pencil-square-o'></i> </a></div> "
                        }
                    },
                ],
            });
    };
    function editTrip(id) {
        window.location.href = "/Trip/Index?id="+id
    }
    

    $(document).ready(function () {
        $today = new Date();
        $yesterday = new Date($today);
        $yesterday.setDate($today.getDate() - 6);
        var $input = $('#trip_date_from').pickadate()
        var picker = $input.pickadate('picker');
        picker.set('select', $yesterday)

        BindDataTable()
    })
</script>